<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.e.teacher">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".CurrentTeacher"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AttendanceTracker">
        <activity android:name=".ScheduleClassActivity"></activity>
        <activity android:name=".ListClassActivity" />
        <activity android:name=".AdminLoginActivity" />
        <activity android:name=".CreateClassActivity" />
        <activity android:name=".AddBatchActivity" />
        <activity android:name=".AdminChangePasswordActivity" />
        <activity android:name=".AddTeacherActivity" />
        <activity android:name=".AdminDashboardActivity" />
        <activity android:name=".SelectActivity" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".DashboardActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>